html,
body,
#root {
  width: 100%;
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn {
  padding: 40px;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}
.user-section {
  margin-bottom: 10px;
  background-color: aquamarine;
  padding: 10px 6px;
}

.resource-section {
  margin-bottom: 10px;
  background-color: azure;
  padding: 10px 6px;
}

.response-section {
  height: 1em;
  padding: 10px 6px;
}

.success-response {
  background-color: #84ff84;
}
.failure-response {
  background-color: #ff8c8c;
}
